@{
    ViewData["Title"] = "Termos De Uso";
}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container p-3">
            <h1>Termo de Consentimento para Tratamento de Dados Pessoais</h1>
            <p>
                A Mundo Verde, vem, por meio deste Termo de Consentimento, informar, sobre o tratamento de seus dados pessoais.
            </p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Finalidades do tratamento de dados pessoais</div>
                        <ul>
                            A Mundo Verde coleta e trata seus dados pessoais para as seguintes finalidades:
                            <li>Fornecer os serviços e produtos oferecidos pelo site Mundo Verde;</li>
                            <li>Melhorar a experiência do usuário no site;</li>
                            <li>Proteger a segurança do site e dos usuários.</li>
                        </ul>

                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Dados pessoais coletados</div>
                        <ul>
                            A Mundo Verde coleta os seguintes dados pessoais:
                            <li>Nome;</li>
                            <li>E-mail;</li>
                            <li>Dados de cookies.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Base legal para o tratamento de dados pessoais</div>
                        O tratamento de seus dados pessoais é realizado com base no seu consentimento, que é livre, informado e inequívoco.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Direitos do titular dos dados</div>
                        <ul>
                            A Mundo Verde garante a você os seguintes direitos:
                            <li>Confirmação da existência de tratamento;</li>
                            <li>Acesso aos dados;</li>
                            <li>Correção de dados incompletos, inexatos ou desatualizados;</li>
                            <li>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a LGPD;</li>
                            <li>Eliminação dos dados pessoais tratados com o seu consentimento;</li>
                            <li>Revogação do consentimento.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Como exercer seus direitos</div>
                        Para exercer seus direitos, você pode entrar em contato com a Mundo Verde por meio do e-mail mundoverdetcc@gmail.com.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-itemsdiaDeHoje-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Duração do armazenamento dos dados pessoais</div>
                        Os dados pessoais coletados pela Mundo Verde serão armazenados pelo período necessário para as finalidades descritas neste Termo de Consentimento.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Medidas de segurança</div>
                        A Mundo Verde adota as medidas de segurança necessárias para proteger os seus dados pessoais contra acessos não autorizados, destruição, perda, alteração, comunicação ou difusão.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Aceitação</div>
                        Ao clicar no botão "Aceito", você declara que leu, compreendeu e concorda com as condições deste Termo de Consentimento.
                    </div>
                </li>
            </ol>
            <div class="mt-3 mb-2">
                @DateTime.Today.ToString("yyyy/MM/dd")
            </div>
            <p>Mundo Verde</p>
        </div>
    </main>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>