body {
    background-color: #45C4B1;
}
section {
    margin: -40px 0px 0px 0px;
}
.card {

        font-family: "Open Sans", sans-serif;
        color: #000F21;
      
    background-color: #FFFFF9;
}
.text-box{
    padding: 6px !important; 
}
button {
    background-color: #000F21 !important;
}
