<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background: url(&quot;assets/img/tech/a.png&quot;);">
            <div class="text">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>
                <button class="btn btn-outline-light btn-lg" type="button" style="border-radius: 30px;border-width: 2px; transition: 0.6s;">SAIBA MAIS</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">LIXO HOSPITALAR</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">A reciclagem de lixo hospitalar desempenha um papel crucial na promoção da segurança e saúde pública, bem como na redução do impacto ambiental. </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/image11.png"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Branca</strong> é destinada ao lixo hospitalar como gases usadas, luvas, seringas, algodão, e medicamentos vencidos. Geralmente está presente em hospitais e postos de saúde e são fundamentais para evitar a propagação de doenças.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">Resíduos gerados em hospitais, clínicas e centros de saúde frequentemente contêm materiais potencialmente perigosos, como seringas, agulhas, luvas e produtos químicos. O processo de reciclagem de lixo hospitalar envolve a coleta segura, transporte adequado e a segregação de materiais perigosos dos não perigosos. Os materiais não perigosos podem ser tratados e reciclados de maneira segura, enquanto os resíduos perigosos são eliminados adequadamente, evitando a contaminação ambiental e a disseminação de doenças.  </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="background: #f1f0f2;height: 81.941px;">
        <div class="footer-copyright" style="background: #f1f0f2;border-width: 0px;height: 39.9646px;">
            <p style="color: rgb(13,13,13);">© 2023 Mundo Verde</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>