@using Microsoft.AspNetCore.Identity
@using TCCProjeto.Models
@inject SignInManager<Pessoa> SignInManager
@inject UserManager<Pessoa> UserManager

@{
    ViewBag.Title = "Página inicial";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <h1>Começe Sua Jornada de Reciclagem com <br /> Mundo Verde</h1>
            <h2>Realizado por um time de estudantes do Polivalente</h2>
        </div>
    </section><!-- End Hero -->

    <div class="fixed-bottom pb-2 animate__animated animate__rubberBand" style="left:inherit; bottom:1%;">
  
        <a class="fixed-bottom pb-2" style="left:98.7%" href="/19039088.">
        <i class="fas fa-box-heart fa-xs text-muted"></i>
        </a>

       <img src="~/img/FloribelaHome.png" class="tooltipster hidden-sm-down" alt="pagedoll" style="max-width:180px;">

    </div>

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row content">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                        <h2>Qual o intuito do projeto?</h2>
                        <h3>Procuramos incentivar os cidadãos a reciclarem mais e a terem uma visão consciente sobre o lixo reciclável e o planeta.</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                        <p>
                            A importância da reciclagem é algo inegável, porém, o tema é pouco abordado até os dias de hoje. Uma pesquisa do Ibope, realizada em 2018, mostrou que
                            66% da população tem pouco ou nenhum conhecimento sobre coleta seletiva, e 39% não separa o lixo. Nosso projeto pretende mudar essas estatísticas e ajudar
                            tanto ao nosso planeta quanto a cidade de Americana. Alguns dos nossos objetivos são:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Reduzir os gastos da prefeitura com a higienização da cidade;</li>
                            <li><i class="ri-check-double-line"></i> Auxiliar a população que dependem da reciclagem para gerar renda;</li>
                            <li><i class="ri-check-double-line"></i> Mudar a visão do povo sobre como se deve cuidar do lixo.</li>
                        </ul>
                        <p class="fst-italic">
                            Com isso em mente, gostariamos de convidá-lo a participar desta jornada ao Mundo Verde, ganhando recompensas em troca, incluindo a melhor delas, um MUNDO LIMPO.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="text-center">

                <h4> "Mundo Verde: Onde a sociedade encontra a natureza." </h4>
            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="content">
                            <h3>Quais os benefícios de participar de nossa proposta?</h3>
                            <p>
                                Sabemos que, muitas vezes, precisamos de certos incentivos para começar a tomar uma atitude. Pensando nisso, criamos um sistema de recompensas em troca
                                de seu tempo e esforços.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class='bx bx-recycle'></i>
                                        <h4>Ajude a reciclar</h4>
                                        <p>Separe seu lixo e leve-o até o ponto de coleta mais próximo de sua casa.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class='bx bxs-tree'></i>
                                        <h4>Salve a Natureza</h4>
                                        <p>A atitude de reciclar faz com que tanto o mundo quanto sua cidade fiquem mais limpos. </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class='bx bxs-gift'></i>
                                        <h4>Seja recompensado</h4>
                                        <p>Receba pontos que podem ser trocados por cupons, passagens, descontos e muito mais! </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="text-center" data-aos="zoom-in">
                    <h3>Atue Nessa Causa</h3>
                    <p> É comum a falta de interesse nesse assunto, mas é necessário começar a pensar sobre questões ambientais antes que seja tarde demais. Nosso planeta é único e merece ser tratado como tal.  </p>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <a class="cta-btn" asp-controller="account" asp-action="Cadastro">Comece Agora</a>
                    }
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Services Section ======= -->
        <section id="projetos" class="services section-bg">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title" data-aos="fade-right">
                            <h2>Projetos</h2>
                            <p>Buscamos conscientizar principalmente sobre os tipos de lixo mais reciclados na atualidade. Clique em um dos itens para receber mais informações sobre!</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div style="max-height: 231.8px; max-width: 356px" class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="icon"><i class='bx bxs-package'></i></div>
                                    <h4><a href="">Papel</a></h4>
                                    <p>Jornais, papelões, revistas, cadernos, agendas, etc. </p>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                <div style="max-height: 231.8px; max-width: 356px" class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="icon"><i class='bx bxs-wrench'></i></div>
                                    <h4><a href="">Metal</a></h4>
                                    <p>Latas, tampas, bandeijas, panelas, fios elétricos, etc.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex align-items-stretch mt-4">
                                <div style="max-height: 231.8px; max-width: 356px" class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="icon"><i class='bx bx-coffee-togo'></i></div>
                                    <h4><a href="">Plástico</a></h4>
                                    <p>Garrafas pet, sacolas, embalagens, seringas, etc.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex align-items-stretch mt-4">
                                <div style="max-height: 231.8px; max-width: 356px" class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="icon"><i class='bx bx-wine'> </i></div>
                                    <h4><a href=""> Vidro</a></h4>
                                    <p>Garrafas, janelas, jarras, copos, recipientes, etc.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="reciclaveis" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-left">
                    <h2>Recicláveis</h2>

                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tudo</li>
                            <li data-filter=".filter-app">Papel</li>
                            <li data-filter=".filter-card">Plástico</li>
                            <li data-filter=".filter-web">Metal</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-4.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-5.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-6.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-7.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-8.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/img/reciclaveis/reciclavel-9.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div class="portfolio-links">
                                    <a href="~/img/reciclaveis/reciclavel-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <p style="color:lightgray;"> Fonte: Unsplash </p>
            </div>
        </section>

        <section id="ecoponto" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="section-title">
                            <h2>Ecopontos</h2>
                            <p> Utilize o mapa para encontrar os ecopontos mais próximos de sua residência. Caso não encontre nada tão perto, lembre-se de contatar a prefeitura e sugerir a construção de um em seu barrio. Todos merecemos o direito de reciclar!</p>
                        </div>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                        <div class="info mt-4">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Ecopontos</h4>
                        </div>
                        <iframe style="border:0; width: 100%; height: 500px;" src="https://www.google.com/maps/d/embed?mid=173rR7ABFXMYgYOtdQIt7q8NcjRgVBSE&ehbc=2E312F&noprof=1" frameborder="0"></iframe>
                    </div>
                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- Vendor JS Files -->
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>
