@{
    ViewBag.Title = "Hospitalar";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background: url(&quot;../img/tech/a.png&quot;);">
            <div class="text text-center">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>
                <button class="btn btn-outline-light btn-lg" type="button" style="border-radius: 30px;border-width: 2px; transition: 0.6s;">SAIBA MAIS</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">MADEIRA</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">A madeira é um material valioso e versátil, mas a extração descontrolada de árvores para sua produção pode levar à degradação das florestas e ao desmatamento. </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image12.png"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Preta</strong> serve para efetuar a reciclagem de madeira, está muito presente em fabricas que trabalham com esse material, pois o descarte incorreto pode resultar em multas como prevê a lei nº 9.605/98. </span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">O processo de reciclagem de madeira envolve a coleta de madeira descartada, como paletes, móveis antigos ou restos de construção, seguida da separação, trituração e, em alguns casos, tratamento para remover vernizes ou tintas. A madeira reciclada pode ser utilizada para criar uma variedade de produtos, como móveis, pisos, painéis de parede, papel reciclado, ou até mesmo como matéria-prima para geração de energia, reduzindo a necessidade de colheita de árvores.  </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>