@{
    ViewBag.Title = "Metal";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background-color: yellow;">
            <div class="text-center">
                <h2 style="color: black;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: black;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>
            
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">METAL</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">A reciclagem de materiais metálicos é um processo que consiste na recuperação de resíduos metálicos para serem utilizados na fabricação de novos produtos. Essa prática é importante para a preservação do meio ambiente.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/image15.jpg"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Amarela</strong> é onde devem ser descartados os metais, como embalagens de comida, latinhas de refrigerantes entre outros produtos que devem estar sempre higienizado. Produtos que podem causar cortes ou perfurar, como clipes, agulhas ou palha de aço não devem ser descartados junto aos outros metais.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">O processo de reciclagem de metal começa com a coleta seletiva, que separa os resíduos metálicos dos demais resíduos. Os resíduos metálicos coletados são então transportados para centros de triagem, onde são separados por tipo e qualidade. Os metais ferrosos são separados dos não ferrosos, que são separados por tipo (alumínio, cobre, zinco, etc.). </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>