@{
    ViewBag.Title = "Orgânico";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="~/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background-color: #6b3c2e;">
            <div class="text text-center">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>

            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">LIXO ORGÂNICO</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">Os resíduos orgânicos, como restos de alimentos e materiais biodegradáveis, representam uma parte significativa dos resíduos sólidos urbanos.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image10.png"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Marrom</strong> diferente das demais, é reservada para o descarte de resíduos orgânicos, como sobras de comidas das residências. A reciclagem é feita transformando os restos em adubo para plantações.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">O processo de reciclagem de resíduos orgânicos envolve a coleta seletiva e sua transformação em compostagem, um processo de decomposição controlada. O composto resultante, rico em nutrientes, pode ser utilizado como fertilizante orgânico para a agricultura e jardinagem, reduzindo a necessidade de produtos químicos sintéticos e melhorando a saúde do solo. Além disso, a reciclagem de resíduos orgânicos ajuda a reduzir a emissão de gases de efeito estufa em aterros sanitários, contribuindo para a luta contra as mudanças climáticas. Essa prática não apenas diminui o desperdício de recursos, mas também promove a gestão sustentável dos resíduos, tornando-se essencial para um mundo mais limpo e equilibrado. </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>