@{
    ViewBag.Title = "Pilha";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background-color: #e68435;">
            <div class="text text-center">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>

            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">PILHAS E BATERIAS</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">A reciclagem de pilhas e baterias desempenha um papel vital na preservação do meio ambiente e na gestão adequada de resíduos tóxicos. </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image13.png"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Laranja</strong> é menos comum e serve para o descarte de pilhas e baterias, geralmente encontrada em estabelecimentos que trabalham com a venda desses produtos.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">Pilhas e baterias descartadas frequentemente contêm substâncias químicas nocivas, como chumbo, mercúrio, cádmio e lítio, que podem poluir o solo e a água quando descartadas inadequadamente. O processo de reciclagem de pilhas e baterias envolve a coleta segura desses dispositivos, a desmontagem para separar os materiais componentes e, em seguida, o tratamento adequado para recuperar os metais valiosos e reduzir o impacto ambiental. Os materiais recuperados, como níquel, cádmio, chumbo e lítio, podem ser usados na fabricação de novas baterias e em produtos eletrônicos, contribuindo para a conservação de recursos naturais e a prevenção da contaminação ambiental.   </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>