@{
    ViewBag.Title = "Plástico";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="~/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background: url(&quot;../img/tech/a.png&quot;);">
            <div class="text text-center">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>
                <button class="btn btn-outline-light btn-lg" type="button" style="border-radius: 30px;border-width: 2px; transition: 0.6s;">SAIBA MAIS</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">PLÁSTICO</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">Reciclar materiais plásticos é um passo importante para reduzir a poluição plástica e conservar os recursos naturais do nosso planeta. A participação de todos é fundamental para o sucesso desse esforço.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image7.jpg"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Vermelha</strong> é destinada a materiais plásticos, como garrafas PET, embalagens de produtos, sacolas plásticas, canetas, brinquedos e até mesmo escovas de dente. Existem alguns tipos de plásticos que não podem ser reciclados, como isopor, papel celofane, esponjas de lavar louça, além de plásticos resistentes ao calor.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">Apoie a reciclagem comprando produtos feitos com plástico reciclado. Isso incentiva as empresas a incorporar mais materiais reciclados em seus produtos e fecha o ciclo de reciclagem. Além de reciclar, é importante reduzir o uso de plástico descartável sempre que possível. Opte por produtos reutilizáveis, como garrafas de água de aço inoxidável em vez de garrafas de plástico descartáveis, e leve sacolas reutilizáveis às compras. </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>