@{
    ViewBag.Title = "Sobre nós";
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body>
    <main>
        <section style="background-color: #f7f7f6 !important;" id="equipe" class="team p-5">
            <div class="container mb-5">
                <h1 class="text-center mb-3" style="color: black; font-family: 'Raleway' , sans-serif;">Sobre nós</h1>
                <section class="d-flex justify-content-center sobreNos p-3">
                    <p class="text-center"><i style="font-size: 1.5em">"</i> O Mundo Verde representa a culminação do esforço de um grupo de estudantes do polivalente, dedicado a fomentar a prática da reciclagem, uma ação crucial em nosso mundo contemporâneo, e a preservar com zelo o meio ambiente. Este projeto não apenas encoraja a reciclagem, mas também recompensa aqueles que se engajam nessa nobre iniciativa, nutrindo assim o estímulo para uma participação ainda mais ativa. Ao fazê-lo, o Mundo Verde não apenas contribui para a construção de uma sociedade onde os cidadãos desfrutam de um ambiente mais limpo, mas também alivia os encargos financeiros da prefeitura ao reduzir os custos associados à coleta de resíduos urbanos. Essa economia de recursos pode ser direcionada para áreas vitais como educação e saúde, promovendo um ciclo virtuoso de benefícios para toda a comunidade. <i style="font-size: 1.5em">"</i> </p>
                </section>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title" data-aos="fade-right">
                            <h2>Equipe</h2>
                            <p>Conheça os membros do nosso projeto </p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-lg-6 mt-4">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="~/img/Equipe/img-felipe.jpg" class="img-fluid" alt="Imagem de Felipe Fioreti, programador do Projeto"></div>
                                    <div class="member-info">
                                        <h4>Felipe Fioreti</h4>
                                        <span>Programador</span>
                                        <p>Trabalhou na parte de programação do projeto</p>
                                        <div class="social">
                                            <a href="https://www.instagram.com/felipefioreti/" target="_blank"><i class="ri-instagram-fill"></i></a>
                                            <a href="https://www.linkedin.com/in/felipe-rosolen-7a312a2a3/" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 mt-4 ">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="pic"><img src="~/img/Equipe/img-gi.jpg" class="img-fluid" alt="Imagem de Giovana Bassi, Designer do Projeto"></div>
                                    <div class="member-info">
                                        <h4>Giovana Bassi</h4>
                                        <span>Designer</span>
                                        <p>Trabalhou no estilo do projeto</p>
                                        <div class="social">
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4 ">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="~/img/Equipe/img-rodrigo.png" class="img-fluid" alt="Imagem de Rodrigo Ribeiro, Redator do Projeto"></div>
                                    <div class="member-info">
                                        <h4>Rodrigo Ribeiro</h4>
                                        <span>Redator</span>
                                        <p>Trabalhou na parte de documentação do projeto</p>
                                        <div class="social">
                                            <a href="https://www.instagram.com/yz.ribeiro/" target="_blank"><i class="ri-instagram-fill"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4 ">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="~/img/Equipe/img-henrique.jpg" class="img-fluid" alt="Imagem de Henrique Lira, Pesquisador do Projeto"></div>
                                    <div class="member-info">
                                        <h4>Henrique Lira</h4>
                                        <span>Pesquisador</span>
                                        <p>Pesquisou as fontes utilizadas no projeto</p>
                                        <div class="social">
                                            <a href="https://instagram.com/henrique.lira17?igshid=YTQwZjQ0NmI0OA==" target="_blank"><i class="ri-instagram-fill"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="~/img/Equipe/img-rocha.jpg" class="img-fluid" alt="Imagem de João Rocha, Redator auxiliar do projeto"></div>
                                    <div class="member-info">
                                        <h4>João Rocha</h4>
                                        <span>Redator Auxiliar</span>
                                        <p>Auxiliou na parte de documentação do projeto</p>
                                        <div class="social">
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6 mt-4">
                                <div style="background-color: white !important" class="member" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="~/img/Equipe/img-romera.jpg" class="img-fluid" alt="Imagem de João Romera, Designer auxiliar do projeto"></div>
                                    <div class="member-info">
                                        <h4>João Romera</h4>
                                        <span>Designer Auxiliar</span>
                                        <p>Auxiliou na parte de design do projeto</p>
                                        <div class="social">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section>
    </main>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>