@{
    ViewBag.Title = "Vidro";
}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp">
    <link rel="stylesheet" href="~/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/vanilla-zoom.min.css">
</head>

<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(69,196,176,0.85);background: url(&quot;../img/tech/a.png&quot;);">
            <div class="text text-center">
                <h2 style="color: #FFFFF1;font-family: Poppins, sans-serif;font-size: 60px;font-weight: bold;">Aprenda a Reciclar</h2>
                <p style="color: #FFFFF1;font-family: 'Open Sans', sans-serif;">A coleta seletiva otimiza a reciclagem do lixo, para melhorar o processo de separação dos materiais, as lixeiras são diferenciadas por cores as quais representam o tipo de resíduo que ela deve receber. </p>
                <button class="btn btn-outline-light btn-lg" type="button" style="border-radius: 30px;border-width: 2px; transition: 0.6s;">SAIBA MAIS</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h1 style="font-size: 40px;font-family: Poppins, sans-serif;font-weight: bold;color: #000F21;">VIDRO</h1>
                    <p style="font-family: 'Open Sans', sans-serif;color: #000F21;">A reciclagem do vidro desempenha um papel crucial na redução do impacto ambiental e na preservação dos recursos naturais.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image9.png"></div>
                    <div class="col-md-6">
                        <h3 style="font-weight: bold;">Ajude na Reciclagem</h3>
                        <div class="getting-started-info">
                            <p style="font-family: 'Open Sans', sans-serif;"><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"> A <strong>Lixeira Verde</strong> é a responsável pelo descarte de vidro, e praticamente todos os produtos feitos desse material exceto lâmpadas.</span><br><br><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">O vidro é 100% reciclável e pode ser reciclado infinitas vezes sem perder qualidade. O processo de reciclagem do vidro envolve a coleta, a separação por cor e a fusão dos cacos de vidro a altas temperaturas para criar novo vidro. Os produtos feitos a partir de vidro reciclado incluem garrafas e frascos, vidros para janelas, vidros para a construção, objetos de decoração e até mesmo fibra de vidro para isolamento.  </span><br><br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/vendor/bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/baguetteBox.min.js"></script>
    <script src="~/vendor/bootstrap/js/vanilla-zoom.js"></script>
    <script src="~/vendor/bootstrap/js/theme.js"></script>
</body>

</html>