<h1> Pontos insuficientes.</h1>
<div class="container">
<h3>
    Você precisa de mais Pontos para resgatar essa recompensa.
</h3>
</div>
<a asp-area="" asp-controller="ponto" asp-action="Index">Volte a página principal</a>
