<h1> Produto Indisponível</h1>

<div class="container">
    <h3>
        Pedimos desculpas, mas o produto que você está tentando resgatar está indisponível.
    </h3>
</div>
<a asp-area="" asp-controller="ponto" asp-action="Index">Volte a página principal</a>
