
<div class="container align-items-center">
    <h1> O Produto já está no seu inventário!!!</h1>
    <h3>
        O produto que você quer resgatar já está no seu inventário, use primeiro antes de resgatar outro.
    </h3>
    <h4><a asp-area="" asp-controller="ponto" asp-action="Index">Volte a página principal</a></h4>
</div>