<h1> O Produto já está no seu inventário!!!</h1>

<p>
    O produto que você quer resgatar já está no seu inventário, use primeiro antes de resgatar outro.
</p>

<a asp-area="" asp-controller="ponto" asp-action="Index">Volte a página principal</a>
