
<div class="container align-items-center">
    <h1> Produto Indisponível</h1>

    <h3>
        Pedimos desculpas, mas o produto que você está tentando resgatar está indisponível.
    </h3>
    <h4><a asp-area="" asp-controller="ponto" asp-action="Index">Volte a página principal</a></h4>
</div>