@using Microsoft.AspNetCore.Identity
@using TCCProjeto.Models
@inject SignInManager<Pessoa> SignInManager
@inject UserManager<Pessoa> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li>
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
    }
}