@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro durante o processamento do seu pedido.</h2>

<a asp-area="" asp-controller="home" asp-action="Index">Volte a página principal</a>

